<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
  <section>
    <form action="/req/user/save" method="post">
      <h1>User Create</h1>
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" id= "name" name="name" required>
            <label for="">Name</label>
        </div>

        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" id="email" name="email" required>
            <label for="">Email</label>
        </div>

        <div class="inputbox">
            <ion-icon name="phone-outline"></ion-icon>
            <input type="number" id="phone" name="phone" required>
            <label for="">Phone</label>
        </div>
        
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="password" name="password" required>
            <label for="">Password</label>
        </div>  
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" id="passwordcon" name="passwordcon" required>
          <label for="">Confirm Password</label>
      </div>
      
        <div class="inputbox">
            <ion-icon name="address-outline"></ion-icon>
            <input type="text" id="address" name="address" required>
            <label for="">Address</label>
        </div>  
        <button id= "submit" type="submit">Save & Create</button>
    
    </form>
  </section>
</body>
</html>